body #logo{
	background-image : url("../img/logo-iut.jpg");
	background-size: 400px 200px;
	background-repeat: no-repeat;
	height : 700px;
	width : 300px;
}
@media only screen and (max-width: all) {
    body #logo{
        background-color: lightblue;
    }
}